@block-reference "./hello.css";
@block-reference "./outlines.css";

.root {
  extends: hello;
  background-color: #ccc;
}

.greeting-target {
  text-decoration: underline;
  /*text-decoration: resolve("outlines.outlined");*/
  font-style: italic;
}
