:scope {
  font-style: italic;
}

:scope[pink] {
  color: pink;
}

:scope[purple] {
  color: purple;
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

:scope[blue] {
  color: blue;
}

:scope[yellow] {
  color: yellow;
}

.brown {
  color: brown;
}

.bold {
  font-weight: bold;
}