:scope {
  --app-component-block-scope: applied;
  color: red;
}

.sub-class {
  --app-component-block-class: applied;
  color: orange;
}

:scope[state|enabled] {
  --app-component-block-scope-state: applied;
  color: green;
}

.sub-class[state|enabled] {
  --app-component-block-class-state: applied;
  color: blue;
}