@block external from "./external.css";
@block util from "./util.css";

:scope {
  extends: external;
  color: red;
}

.link-1 {
  color: yellow;
}

.link-2 {
  color: green;
}

.link-2[state|active] {
  color: blue;
}

.link-4 {
  color: gray;
}

.link-4[state|active] {
  color: green;
}

.link-4[state|loading] {
  color: yellow;
}

.link-4[state|disabled] {
  color: red;
}