@block external from "./external.css";
@export util from "./util.css";

:scope {
  extends: external;
  color: red;
}

.link-1 {
  color: yellow;
}

.link-2 {
  color: green;
}

.link-2[active] {
  color: blue;
}

.link-4 {
  color: gray;
}

.link-4[active] {
  color: green;
}

.link-4[loading] {
  color: yellow;
}

.link-4[disabled] {
  color: red;
}

@export external;