@block h from "./header.css";
@block t from "./typography.css";

:scope {
    block-alias: my-scope-alias stylesheet__world;
    color: red;
}

.world {
    block-alias: stylesheet__world--thick;
    border: 1px solid black;
}

.world[state|thick] {
    border-width: 3px;
}

@export (h, t);