.link-to-helper {
  --link-to-helper: applied;
}

.link-to-helper[state|active] {
  --link-to-helper-active: applied;
}

.input-helper {
  --input-helper: applied;
}

.textarea-helper {
  --textarea-helper: applied;
}

.select-helper {
  --select-helper: applied;
}

.button-helper {
  --button-helper: applied;
}