@block (bold) from "@css-blocks-fixtures-v2/npm-based-blocks";

:scope {
  extends: bold;
  block-alias: public-addon-component-alias;
  --addon-component-block-scope: applied;
  color: red;
}

.sub-class {
  --addon-component-block-class: applied;
  color: orange;
}

:scope[enabled] {
  --addon-component-block-scope-state: applied;
  color: green;
}

.sub-class[enabled] {
  --addon-component-block-class-state: applied;
  color: blue;
}