@export h from "./header.css";

:scope {
    block-alias: my-scope-alias stylesheet__world;
    color: red;
}

.world {
    block-alias: stylesheet__world--thick;
    border: 1px solid black;
}

.world[state|thick] {
    block-alias: my-alias-for-state;
    border-width: 3px;
}
