@export h from "./header.css";

:scope {
    block-alias: my-alias-for-scope;
    color: red;
}

.world {
    border: 1px solid black;
}

.world[state|thick] {
    block-alias: my-alias-for-state;
    border-width: 3px;
}

