:export {

    root: interoperable;

    t: interoperable--t;

    class: interoperable__class;

    class--s: interoperable__class--s
}

.interoperable--t {

}

.interoperable__class {

}

.interoperable__class--s {

}