@block bold from "./bold.block.css";

:scope {
  extends: bold;
  --addon-component-block-scope: applied;
  color: red;
}

.sub-class {
  --addon-component-block-class: applied;
  color: orange;
}

:scope[enabled] {
  --addon-component-block-scope-state: applied;
  color: green;
}

.sub-class[enabled] {
  --addon-component-block-class-state: applied;
  color: blue;
}